.centralisedText {
  text-align: center;
  max-width: 614px;
}

.sayHello {
  border: 1px solid #9d9d9d;
  width: 175px;
  height: 52px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 100px;
}

.sayHello:hover {
  background-color: white;
  color: black;
  transition: background-color 1s, color 1s;
}
