.experienceRow::-webkit-scrollbar {
  display: none;
}

.experienceRow {
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.experienceContainer {
  /* min-width: 100px; */
  margin-right: 35px;
}

.experienceItem {
  cursor: pointer;
  margin: 0px;
  text-underline-offset: 6px;
  transition: color 0.5s;
}

.experienceDecorator {
  text-decoration: underline white 1.5px;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: white;
  -webkit-text-decoration-color: white;
}

.oneColumn {
  position: relative;
  list-style-type: none;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

/* .listItem:before {
  content: "• ";
  color: #bebebe;
  padding: 0px 20px;
} */

.listItem {
  display: flex;
  align-items: center;
  max-width: 441px;
}

@media only screen and (min-width: 955px) {
  .contentHeight {
    position: relative;
    height: 60vh;
  }

  .showProductDisplay {
    position: absolute;
    top: -30%;
    right: -5%;
    z-index: -1;
    transition: all 0.5s;
  }

  .logoStyle {
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: -1;
    transition: all 0.5s;
  }

  .logoSize {
    width: 180px;
  }

  .productSize {
    width: 375px;
  }
}

@media only screen and (max-width: 480px) {
  .showProductDisplay {
    position: absolute;
    top: 170%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s;
    opacity: 0.25;
  }

  .contentHeight {
    position: relative;
    height: 100vh;
  }

  .logoStyle {
    position: absolute;
    top: 130%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    opacity: 0.07;
    z-index: -1;
    transition: all 0.5s;
  }

  .productSize {
    width: 300px;
  }

  .logoSize {
    width: 225px;
  }

  .contentHeight {
    position: relative;
    height: 100vh;
  }
}

@media only screen and (max-width: 954px) and (min-width: 481px) {
  .showProductDisplay {
    position: absolute;
    top: 200%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s;
    opacity: 0.25;
  }

  .contentHeight {
    position: relative;
    height: 100vh;
  }

  .logoStyle {
    position: absolute;
    top: 130%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    opacity: 0.07;
    z-index: -1;
    transition: all 0.5s;
  }

  .productSize {
    width: 375px;
  }

  .logoSize {
    width: 225px;
  }

  .contentHeight {
    position: relative;
    height: 100vh;
  }
}
