.experienceRow {
  display: flex;
  position: relative;
  flex-direction: row;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.experienceContainer {
  /* min-width: 100px; */
  margin-right: 35px;
}

.experienceItem {
  cursor: pointer;
  margin: 0px;
  text-underline-offset: 6px;
  transition: color 0.5s;
}

.experienceDecorator {
  text-decoration: underline white 1.5px;
}

.oneColumn {
  list-style-type: none;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.listItem:before {
  content: "• ";
  color: #bebebe;
  padding: 0px 20px;
}

.listItem {
  display: flex;
  align-items: center;
  max-width: 441px;
}
