html,
body {
  padding: 0;
  margin: 0;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.fs60 {
  font-size: 3.75rem;
}

.fs48 {
  font-size: 3rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs14 {
  font-size: 0.875rem;
}

.primary {
  color: white;
}

.secondary {
  color: #9d9d9d;
}
